*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.container{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;

}

nav{
    width: 70%;
    text-align: center;
}

.actions{
    width:15%;
}

.actions > button:hover{
    background-color: #6abf4b;
}

.actions > *{
    padding:  0;
}
nav > ul > li {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#025157;
    margin: 0 13px;
}

#logo{
    width: 15%;
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#025157;
    color:white;
    border-radius: 5px;
    margin: 0 12px;
    font-size: 11px;
    height: 35px;
}

#sign-in{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color:#025157;
}

.banner{
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    margin: 40px auto;
}

#h1-banner{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#025157;
    font-size: 65px;
    margin-bottom: 25px;
}

#text-banner{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#4a4a4a;
    font-weight: 300;
    font-size: 18px;
    text-justify: justify;
    margin-bottom: 45px;
}

#actions-banner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25%;
}

.free-trial-btn{
    background-color: #67b54b;
    border: 0px;
    width: 150px;
    height: 50px;
    font-size: 15px;
}

.img-shopify{
    height: 70px;
}

.note{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color:#4a4a4a;
    font-weight: 200;
    opacity: 0.8;
}

.ecommerce{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.title-ecommerce{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #4a4a4a;
    font-weight: 400;
    opacity: 0.5;
    margin-bottom: 35px;
}

.img-ecommerce{
    display: flex;
    justify-content: space-between;
    width: 75%;
}
 .container{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.item{
    width: 35%;
    height: 60px;
  
}

 .titulo{
   
    color: #025157;
    font-size: 35px;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 45px;
}

#subtitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    justify-content: center;
    text-align: center;
}

#img-cards{
  justify-content: center;
  text-align: center;
  
}

.features-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-p{
    text-justify: center;
    margin-bottom: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90%;
    justify-content: center;
    padding-left: 13%;
}

img{
    border-radius: 4px;
} 


 article{
    margin: 15px;
    width: 15%;
    height: 220px;
}

.features {
    background-color: rgb(223, 166, 213);
    display: grid;
    width: 100%;
     grid-template-columns: repeat(4, 300px); 
     grid-template-columns: 300px 1fr; 
     grid-template-columns: 1fr 1fr; 
     text-align: center;
    justify-items: center;
}

.sub{
    margin-top: 3%;
    width: 95%;
}

.features2{
    background-color: rgb(223, 166, 213);
    display: grid;
    width: 100%;
    /* grid-template-columns: repeat(4, 300px); */
    grid-template-columns: 300px 1fr;
    /* grid-template-columns: 1fr 1fr; */
    text-align: center;
    justify-items: center;
    margin-top: 330px;
}


